@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="gap-4 d-flex flex-wrap">
            <AuthorizeView Roles="@Roles.Admin" Context="auth">
                <MudButton Variant="Variant.Filled" Color="Color.Inherit" EndIcon="@Icons.Outlined.GroupAdd" href="authentication/register">Zarejestruj</MudButton>
            </AuthorizeView>
            <MudButton Variant="Variant.Filled" Color="Color.Inherit" EndIcon="@Icons.Filled.Settings" href="Identity/Account/Manage/ChangePassword">Konto</MudButton>
            <MudButton Variant="Variant.Filled" @onclick="BeginSignOut" EndIcon="@Icons.Outlined.Logout" Color="Color.Inherit">Wyloguj</MudButton>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
