@model PasswordViewModel

@{
    ViewData["Title"] = "Password";
}

<form method="post">
    <div class="card mx-auto col-4 p-0">
        <div class="card-header">
            <h1 class="card-title">Zmień hasło</h1>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input asp-for="CurrentPassword" class="form-control" placeholder="Obecne hasło" />
            </div>
            <div class="form-group">
                <input asp-for="NewPassword" class="form-control" placeholder="Nowe hasło" />
            </div>
            <div class="form-group">
                <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Powtórz nowe hasło" />
            </div>
            <div asp-validation-summary="All"></div>
        </div>
        <div class="btn-group-toggle card-footer">
            <button type="submit" class="btn btn-primary">Zmień</button>
            <a class="btn btn-secondary float-right" asp-controller="Home" asp-action="Index">Powrót</a>
        </div>
    </div>
</form>