Html, body {
    height: 100%;
}

.loginForm {
    width: 500px;
}

.grandParentContainer {
    display: table;
    height: 100%;
    margin: 0 auto;
}

.parentContainer {
    display: table-cell;
    vertical-align: middle;
}

.card-title {
    padding-bottom: 10px;
}