@model List<AccountHistoryViewModel>

@{
    ViewData["Title"] = "AccountHistory";
}

<div class="col-9 mx-auto p-0">
    <table class="table table-sm table-striped border" style="table-layout: fixed;text-align: center;">
        <thead>
            <tr>
                <th scope="col">Typ akcji</th>
                <th scope="col">Ilość</th>
                <th scope="col">Saldo po akcji</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.OperationType</td>
                    <td>@record.Amount</td>
                    <td>@record.BalanceAfter</td>
                    <td>@record.CreatedAt</td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-secondary float-right" asp-controller="Home" asp-action="Index">Powrót</a>
</div>