@model MVC_FirstApp.Models.ViewModels.HomeUserViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h4>Imię: @Model.FirstName</h4>
<h4>Nazwisko: @Model.LastName</h4>
<h4>Grupa: @Model.Group</h4>
<h4>Stanowisko: @Model.Position</h4>