@model MVC_FirstApp.Models.ViewModels.RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Rejestracja</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LoginRegister.css" />
</head>
<body>
    <div class="grandParentContainer">
        <div class="parentContainer">
            <h1 class="card-title">Rejestracja</h1>
            <form method="post" class="loginForm">
                <div class="form-group">
                    <input asp-for="FirstName" class="form-control" placeholder="Imię" />
                </div>
                <div class="form-group">
                    <input asp-for="LastName" class="form-control" placeholder="Nazwisko" />
                </div>
                <div class="form-group">
                    <input asp-for="UserName" class="form-control" placeholder="Nazwa użytkownika" />
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Hasło" />
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Potwierdź hasło" />
                </div>
                <div asp-validation-summary="All"></div>
                <span class="btn-group-toggle">
                    <button type="submit" class="btn btn-primary">Zarejestruj</button>
                    <a class="btn btn-secondary float-right" asp-controller="Login" asp-action="Index">Logowanie</a>
                </span>
            </form>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

