@page "/fetchdata"
@inject EmployeeHttpRepository _employeeHttpRepository

<button class="btn btn-success" @onclick='() => GetEmployee(Guid.Parse("F60FF964-2BF4-44CD-5D85-08DA4CBAB8B7"))'>Fetch details</button>
<button class="btn btn-danger" @onclick='() => GetEmployee2(Guid.Parse("F60FF964-2BF4-44CD-5D85-08DA4CBAB8B7"))'>Fetch details</button>

@code {
    async Task GetEmployee(Guid employeeId)
    {
        try
        {
            await _employeeHttpRepository.GetDetails(employeeId);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    async Task GetEmployee2(Guid employeeId)
    {
        await _employeeHttpRepository.GetDetails(employeeId);
    }
}
